.search-btn{
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 0!important;
}
.search-input{
  border-top-right-radius: 0!important;
  border-bottom-right-radius: 0!important;
  height: 38px!important;
  border-right: 0!important;
}